<div>
    <input type="text" [(ngModel)]="searchText" placeholder="Search">
</div>

<div>
    <table class="table" *ngIf="(CurrentMatchdataSource | filter: searchText).length > 0; else noResults">
        <ng-container *ngFor="let ds of CurrentMatchdataSource | filter: searchText; let i = index">
            <colgroup>
                <col width="5%">
                <col width="15%">
                <col width="35%">
                <col width="15%">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Home Name</th>
                    <th scope="col">Away Name</th>
                    <th scope="col">Home Score</th>
                    <th scope="col">Away Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{ds.home_name}}</td>
                    <td>{{ds.away_name}}</td>
                    <td>{{ds.home_score}}</td>
                    <td>{{ds.away_score}}</td>
                </tr>
                <tr *ngIf="(ds.allgoals | filter: searchText).length > 0">
                    <td colspan="999">
                        <h6>Goal Details:</h6>
                        <table>
                            <colgroup>
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Player Name</th>
                                    <th>Minutes</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let ds of ds.allgoals | filter: searchText;">
                                <td>{{ds.player_name}}</td>
                                <td>{{ds.minutes}}</td>
                                <td>{{ds.type}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
        </ng-container>
    </table>

    <ng-template #noResults>
        <p>No results found for "{{searchText}}".</p>
    </ng-template>
</div>